@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form id="addForm" class="form-horizontal">

            <input type="hidden" id="id" value="">
            <input type="hidden" id="pid" value="${pid}">

            <div class="row">
                <div class="col-sm-10">
                            <#input id="name" name="中文类别" dataOptions="required:true" underline="true" />
                            <#input id="enName" name="英文类别" underline="true" />
                            <#input id="name" name="内容" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="DictInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="DictInfoDlg.close()"/>
                </div>
            </div>
        </form>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/dict/dict_info.js"></script>
@}
